<!DOCTYPE html>
<html>

<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todo-list.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <h1>To-Do List</h1>
        <div class="buttons">
            <button id="daily-button" class="task-button active" data-task-type="daily">Daily Tasks</button>
            <button id="weekly-button" class="task-button" data-task-type="weekly">Weekly Tasks</button>
        </div>
        <form action="/daily" method="POST" id="todo-form">
            <input type="text" name="daily_activity" id="daily_activity" placeholder="Add a new task" required>
            <button type="submit" id="daily_button">Add</button>
        </form>
        <table id="daily-table" class="daily-todo-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in daily_activities %}
                <tr{% if item.completed %} class="completed" {% endif %}>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>
                        <a href="/daily_complete/{{ loop.index }}"><input type="checkbox" name="completed" {% if item[2]
                                %}checked{% endif %} class="completion-checkbox"></a>
                    </td>
                    <td><a href="/daily_delete/{{ loop.index }}"><i class="fas fa-trash"></i>✖️</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>


        <form action="/weekly" method="POST" id="todo-form">
            <input type="text" name="weekly_activity" id="weekly_activity" placeholder="Add a new task" required>
            <button type="submit" id="weekly_button">Add</button>
        </form>
        <table id="weekly-table" class="weekly-todo-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Completed</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for item in weekly_activities %}
                <tr{% if item.completed %} class="completed" {% endif %}>
                    <td>{{ item[0] }}</td>
                    <td>{{ item[1] }}</td>
                    <td>
                        <a href="/weekly_complete/{{ loop.index }}"><input type="checkbox" name="completed" {% if
                                item[2] %}checked{% endif %} class="completion-checkbox"></a>
                    </td>
                    <td><a href="/weekly_delete/{{ loop.index }}"><i class="fas fa-trash"></i>✖️</a></td>
                    </tr>
                    {% endfor %}
            </tbody>
        </table>
        <!-- Back Button -->
        <a href="{{ url_for('index') }}" class="back-button">Main Page</a>
    </div>
    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <script src="../static/todo-list.js"></script>
</body>

</html>